.spinner{
    width: 200px;
    height: 200px;
    border: 10px solid black;
    border-radius: 50%;
    /* border-top: 10px solid green; */
    animation: spin 2s linear infinite;
}

body{
    background-color: black;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}