<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Enter your details!</h1>

    <% if (message.length > 0) { %>
        <p style="color: green;"><%= message %></p>
    <% } %>

    <% if (error.length > 0) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>

    <form action="/submit" method="POST">
        <label for="username">Enter your name:</label>
        <input type="text" id="username" name="username">
        <button type="submit">Submit</button>
    </form>

</body>
</html>
